// Grayscale
$black: #000000;
$white: #FFFFFF;

// Shades of pink
$pink-lightest: #fabbaf;
$pink-lighter: #fa9891;
$pink-light: #ff7070;
$pink: #f53141;
$pink-dark: #d94c8e;
$pink-darker: #b32d7d;

// Shades of orange
$orange-lightest: #faa032;
$orange-lighter: #f58122;
$orange-light: #f2621f;
$orange: #db4b16;
$orange-dark: #cc8029;

// Shades of green
$green-lightest: #a0eba8;
$green-lighter: #7ccf9a;
$green-light: #5cb888;
$green: #3da17e;
$green-dark: #20806c;

// Shades of yellow
$yellow-lightest: #fad937;
$yellow-lighter: #ffb938;
$yellow-light: #e69b22;
$yellow: #cc8029;
$yellow-dark: #ad6a45;

// Shades of blue
$blue-lightest: #49c2f2;
$blue-lighter: #25acf5;
$blue-light: #1793e6;
$blue: #1c75bd;
$blue-dark: #195ba6;
$blue-darker: #3553a6;
$blue-darkest: #243966;

$teal-darker: #0d2140;
$teal-near-black: #050e1a;

// Shades of purple
$purple-lightest: #e29bfa;
$purple-lighter: #ca7ef2;
$purple-light: #a35dd9;
$purple: #773bbf;
$purple-dark: #4e278c;

// Neutral colors
$gray-lightest: #f2f2da;
$gray-lighter: #c4bbb3;
$gray-light: #a69a9c;
$gray: #807980;
$gray-dark: #696570;
$gray-darker: #495169;

// $important-color: $teal-darker;
// $important-text-color: $gray-lightest;

$important-color: $yellow-lighter;
$important-text-color: $teal-darker;
